<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        <nav>
            <a href="/">start</a>
            <a href="/albums">albums</a>
            <a href="/singles">singles</a>
            <a href="/create">create</a>
            
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ 2025 }} </p>
    </footer>
</body>

</html>