.products-item {
    max-width: 320px;
    background: linear-gradient(to bottom, #e6e1a6, #ec8994); /* gradient background */
    padding: 15px;
    border-radius: 10px;
    color: #ffffff; 
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.products-item img {
    max-width: 225px;
    max-height: 225px;
}

.album-header img{
    max-width: 225px;
    max-height: 225px;
}
.album-header {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
}